<!doctype html>
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>Team -- W4111 Soccer Database</title>
</head>

<body>

  <div class="container">
    <h3>Stadium -- W4111 Soccer Database</h3>
  </div>

  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/">home</a></li>
      <li class="active">{{stadium['name']}}</li>
    </ol>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <h1>{{stadium['name']}}</h1>
        <table border="0">
          <tr>
            <td style="padding-right: 10px;"><strong>Country</strong></td>
            <td>{{stadium['country']}}</td>
          </tr>
          <tr>
            <td style="padding-right: 10px;"><strong>City</strong></td>
            <td>{{stadium['city']}}</td>
          </tr>
          <tr>
            <td style="padding-right: 10px;"><strong>Capacity</strong></td>
            <td>{{stadium['capacity']}}</td>
          </tr>
          <tr>
            <td style="padding-right: 10px;"><strong>Year built</strong></td>
            <td>{{stadium['year']}}</td>
          </tr>
          {% for t in teams %}
          <tr>
            <td style="padding-right: 10px;"><strong>Hosting</strong></td>
            <td><a href="/team?tid={{t['tid']}}">{{t['name']}}</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <div style="height: 20px; width:100%"></div>
  </div>

</body>


</html>
